In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv(r"C:\Users\Aishwarya Malluri\OneDrive\Documents\dataset\cancer.csv")

In [3]:
data

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [5]:
data.shape

(309, 16)

In [6]:
data.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [7]:
data.tail()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [8]:
data.isnull()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
305,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
306,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
307,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
308,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data1=data[['GENDER','AGE','SMOKING','CHRONIC DISEASE','ALCOHOL CONSUMING','CHEST PAIN','LUNG_CANCER']]

In [10]:
data1

,GENDER,AGE,SMOKING,CHRONIC DISEASE,ALCOHOL CONSUMING,CHEST PAIN,LUNG_CANCER
0,M,69,1,1,2,2,YES
1,M,74,2,2,1,2,YES
2,F,59,1,1,1,2,NO
3,M,63,2,1,2,2,NO
4,F,63,1,1,1,1,NO
...,...,...,...,...,...,...,...
304,F,56,1,2,2,1,YES
305,M,70,2,1,2,2,YES
306,M,58,2,1,2,2,YES
307,M,67,2,1,2,2,YES
308,M,62,1,1,2,1,YES

In [11]:
from sklearn.preprocessing import LabelEncoder
lebenc=LabelEncoder()
data1['GENDER']=lebenc.fit_transform(data1['GENDER'])
data1

,GENDER,AGE,SMOKING,CHRONIC DISEASE,ALCOHOL CONSUMING,CHEST PAIN,LUNG_CANCER
0,1,69,1,1,2,2,YES
1,1,74,2,2,1,2,YES
2,0,59,1,1,1,2,NO
3,1,63,2,1,2,2,NO
4,0,63,1,1,1,1,NO
...,...,...,...,...,...,...,...
304,0,56,1,2,2,1,YES
305,1,70,2,1,2,2,YES
306,1,58,2,1,2,2,YES
307,1,67,2,1,2,2,YES
308,1,62,1,1,2,1,YES

In [12]:
from sklearn.preprocessing import LabelEncoder
lebenc=LabelEncoder()
columns_to_encode=['GENDER','LUNG_CANCER']
for column in columns_to_encode:
    data1[column]=lebenc.fit_transform(data1[column])
print(data1)

     GENDER  AGE  SMOKING  CHRONIC DISEASE  ALCOHOL CONSUMING  CHEST PAIN  \
0         1   69        1                1                  2           2
1         1   74        2                2                  1           2
2         0   59        1                1                  1           2
3         1   63        2                1                  2           2
4         0   63        1                1                  1           1
..      ...  ...      ...              ...                ...         ...
304       0   56        1                2                  2           1
305       1   70        2                1                  2           2
306       1   58        2                1                  2           2
307       1   67        2                1                  2           2
308       1   62        1                1                  2           1

     LUNG_CANCER
0              1
1              1
2              0
3              0
4              0
..           ...
304            1
305            1
306            1
307            1
308            1

[309 rows x 7 columns]

In [13]:
X=data1[['GENDER','AGE','SMOKING','CHRONIC DISEASE','ALCOHOL CONSUMING','CHEST PAIN','LUNG_CANCER']]
X

,GENDER,AGE,SMOKING,CHRONIC DISEASE,ALCOHOL CONSUMING,CHEST PAIN,LUNG_CANCER
0,1,69,1,1,2,2,1
1,1,74,2,2,1,2,1
2,0,59,1,1,1,2,0
3,1,63,2,1,2,2,0
4,0,63,1,1,1,1,0
...,...,...,...,...,...,...,...
304,0,56,1,2,2,1,1
305,1,70,2,1,2,2,1
306,1,58,2,1,2,2,1
307,1,67,2,1,2,2,1
308,1,62,1,1,2,1,1

In [14]:
Y=data1[["LUNG_CANCER"]]
Y

     LUNG_CANCER
0              1
1              1
2              0
3              0
4              0
..           ...
304            1
305            1
306            1
307            1
308            1

[309 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.05,random_state=0)

In [16]:
X_train

,GENDER,AGE,SMOKING,CHRONIC DISEASE,ALCOHOL CONSUMING,CHEST PAIN,LUNG_CANCER
241,1,59,2,1,2,2,1
233,0,49,1,1,1,1,1
221,1,61,1,2,2,1,0
249,1,68,2,1,1,1,0
188,1,65,2,2,1,1,1
...,...,...,...,...,...,...,...
251,0,64,2,2,1,2,1
192,0,51,2,2,1,1,1
117,0,51,2,1,1,1,1
47,0,64,2,1,2,2,1
172,1,56,1,1,2,1,1

In [17]:
X_test

,GENDER,AGE,SMOKING,CHRONIC DISEASE,ALCOHOL CONSUMING,CHEST PAIN,LUNG_CANCER
63,0,68,1,2,2,1,1
231,1,64,2,1,2,2,1
167,1,62,1,2,2,2,1
159,1,68,1,2,2,1,0
189,0,67,2,1,1,1,1
145,0,65,2,1,1,1,1
268,0,55,2,2,1,1,1
65,0,71,2,2,1,2,1
26,0,61,2,1,2,2,1
66,0,56,1,2,1,2,1
301,1,64,1,1,2,2,1
90,0,62,1,1,2,2,1
136,0,56,2,1,1,2,1
55,1,52,1,2,2,1,1
22,0,21,2,2,1,1,0
150,1,67,2,1,2,2,1

In [24]:
y_test

     LUNG_CANCER
63             1
231            1
167            1
159            0
189            1
145            1
268            1
65             1
26             1
66             1
301            1
90             1
136            1
55             1
22             0
150            1

In [18]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(X_train,y_train)
y_pred=classifier.predict(X_test).round()

In [19]:
y_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [20]:
from sklearn.metrics import accuracy_score
score_lr=round(accuracy_score(y_pred,y_test)*100,2)
print("the accuracy score achieved using DT is:"+str(score_lr)+"%")

the accuracy score achieved using DT is:100.0%

In [21]:
from sklearn.tree import DecisionTreeClassifier
mdt=DecisionTreeClassifier(criterion="entropy",random_state=0)
mdt=mdt.fit(X_train,y_train)
y_pred1=mdt.predict(X_test).round()

In [22]:
y_pred1

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [23]:
from sklearn.metrics import accuracy_score
score_lr=round(accuracy_score(y_pred1,y_test)*100,2)
print("the accuracy score achieved using DT is:"+str(score_lr)+"%")

the accuracy score achieved using DT is:100.0%